<div fxLayout="column" fxLayoutGap="1.5%" fxLayoutGap.xs="2%">

  <div fxLayout="row">
    <div class="content__title" fxFlex fxFlexAlign="center">
      <span *ngIf="acaoSistema.isAcaoAlterar()">{{'LABEL_ALTERAR_TIPOAMIGO' | i18n}}</span>
      <span *ngIf="acaoSistema.isAcaoIncluir()">{{'LABEL_INCLUIR_TIPOAMIGO' | i18n}}</span>
      <span *ngIf="acaoSistema.isAcaoVisualizar()">{{'LABEL_VISUALIZAR_TIPOAMIGO' | i18n}}</span>
    </div>
  </div>

  <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">

    <form #formEntradaArma="ngForm">
      <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
        <mat-card-title>
          <span>Entrada de Arma</span>
        </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutGap="0.7%" fxLayoutGap.xs="3%">

            <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
              <mat-form-field fxFlex>
                <mat-label>Modelo de Arma</mat-label>
                <input matInput placeholder="Digite o modelo de arma" title="{{'LABEL_NOME' | i18n}}"
                       [(ngModel)]="entradaArma.modeloArma" name="modelo" required maxlength="100"
                       [disabled]="acaoSistema.isAcaoVisualizar()"
                >
                <mat-error validationMessage [submitted]="submitted"></mat-error>
              </mat-form-field>
            </div>

          <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
            <mat-form-field fxFlex>
              <mat-label>Nº Série</mat-label>
              <input matInput placeholder="Digite a série" title="{{'LABEL_NOME' | i18n}}"
                     [(ngModel)]="entradaArma.serie" name="serie" required maxlength="100"
                     [disabled]="acaoSistema.isAcaoVisualizar()"
              >
              <mat-error validationMessage [submitted]="submitted"></mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
            <mat-form-field fxFlex>
              <mat-label>Cor</mat-label>
              <input matInput placeholder="Digite a cor" title="{{'LABEL_NOME' | i18n}}"
                     [(ngModel)]="entradaArma.cor" name="Cor" required maxlength="100"
                     [disabled]="acaoSistema.isAcaoVisualizar()"
              >
              <mat-error validationMessage [submitted]="submitted"></mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </form>

    <mat-card-footer fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
        <div fxFlex.gt-sm="30" fxFlex.sm="50" fxFlex.lt-sm="100" fxFlexAlign="space-between"
             fxLayoutAlign="end center">

          <button type="submit" title="{{'LABEL_SALVAR' | i18n}}" (click)="salvar(entradaArma, formEntradaArma, $event)"
                  fxFlex fxFlexOffset="1"
                  class="mat-button mat-raised-button mat-primary mat-button-base"
                  *ngIf="acaoSistema.isAcaoAlterar() || acaoSistema.isAcaoIncluir()"
          >
            <span>Entrada</span>
          </button>
        </div>
      </div>
    </mat-card-footer>

  </mat-card>
</div>
